In [1]:
print('hello')

hello

In [2]:
print('new')

new

In [3]:
2+1

3

In [4]:
2+2

4

In [5]:
3/2

1.5

In [6]:
(2+10)

12

In [7]:
a=5

In [8]:
a

5

In [9]:
a=10

In [10]:
a

10

In [11]:
a+a

20

In [25]:
a=a+a

In [26]:
a

320

In [14]:
a

20

In [15]:
a

20

In [27]:
type(a)

int

In [28]:
a=30.1

In [29]:
type(a)

float

In [30]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [31]:
my_taxes

10.0

In [32]:
"I'm going on a run"

"I'm going on a run"

In [33]:
print("hello")

hello

In [35]:
print('hello \nworld')

hello
world

In [36]:
len('hello')

5

In [37]:
len('I am')

4

In [41]:
mystring = "Hello World"

In [42]:
mystring

'Hello World'

In [43]:
mystring[0]

'H'

In [44]:
mystring[8]

'r'

In [45]:
mystring[-2]

'l'

In [46]:
mystring = 'abcdefghijk'

In [47]:
mystring

'abcdefghijk'

In [48]:
mystring[2:]

'cdefghijk'

In [49]:
mystring[:3]

'abc'

In [50]:
mystring

'abcdefghijk'

In [51]:
mystring[3:6]

'def'

In [52]:
mystring[1:3]

'bc'

In [54]:
mystring[4:6]

'ef'

In [55]:
mystring[::2]

'acegik'

In [56]:
mystring[::-1]

'kjihgfedcba'

In [57]:
name = "Sam"

In [60]:
# name[0] = 'P'

In [59]:
# name[0] = 'P'

In [61]:
last_letters = name[1:]

In [62]:
last_letters

'am'

In [63]:
'P' + last_letters

'Pam'

In [64]:
x = 'Hello World'

In [71]:
x = x + ' it is beautiful outside!'

In [72]:
x

'Hello World it is beautiful outside! it is beautiful outside! it is beautiful outside!'

In [73]:
letter = 'z'

In [74]:
letter * 10

'zzzzzzzzzz'

In [76]:
# z*10

In [77]:
x = 'Hello World'

In [78]:
x.upper()

'HELLO WORLD'

In [79]:
x

'Hello World'

In [80]:
x= 'Hi this is a string'

In [83]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [84]:
print('hello')

hello

In [86]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [88]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [90]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [93]:
result = 100/777

In [97]:
result = 104.12345

In [98]:
print("The result was {r:1.3f}".format(r=result))

The result was 104.123

In [101]:
name = "Jose"

In [103]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [106]:
name = "Sam"
age = 3

In [107]:
print(f'{name} is {age} years old')

Sam is 3 years old

In [108]:
my_list = [1,2,3]

In [109]:
my_list = ['STRING',100,23.2]

In [110]:
len(my_list)

3

In [111]:
mylist=['one','two','three']

In [112]:
mylist[0]

'one'

In [113]:
mylist[1:]

['two', 'three']

In [114]:
another_list = ['four','five']

In [116]:
new_list = mylist +another_list

In [117]:
new_list

['one', 'two', 'three', 'four', 'five']

In [118]:
new_list

['one', 'two', 'three', 'four', 'five']

In [119]:
new_list[0] = 'ONE ALL CAPS'

In [120]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [121]:
new_list.append('six')

In [122]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [123]:
new_list.pop()

'six'

In [124]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [125]:
popped_item = new_list.pop()

In [126]:
popped_item

'five'

In [127]:
new_list.pop(0)

'ONE ALL CAPS'

In [128]:
new_list

['two', 'three', 'four']

In [129]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [130]:
new_list.sort()

In [131]:
new_list.sort()
my_sorted_list = new_list

In [132]:
num_list.sort()

In [133]:
num_list

[1, 3, 4, 8]

In [134]:
new_list

['a', 'b', 'c', 'e', 'x']

In [135]:
num_list.reverse()

In [136]:
num_list

[8, 4, 3, 1]

In [137]:
my_dict = {'key1' : 'value1', 'key2':'value2'}

In [138]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [141]:
my_dict['key1']

'value1'

In [147]:
prices_lookup ={'apple': 2.99, 'oranges': 1.99, 'milk': 5.80}

In [148]:
prices_lookup['apple']

2.99

In [150]:
d = {'k1': 123, 'k2': [0,1,2], 'k3':{'insideKey':100}}

In [153]:
d['k2'][2]

2

In [152]:
d['k3']['insideKey']

100

In [154]:
d = {'key1': [ 'a','b','c']}

In [155]:
mylist = d['key1']

In [156]:
mylist

['a', 'b', 'c']

In [157]:
letter = mylist[2]

In [158]:
letter

'c'

In [159]:
letter.upper()

'C'

In [160]:
d['key1'][2].upper()

'C'

In [161]:
d = {'k1':100, 'k2':200}

In [162]:
d

{'k1': 100, 'k2': 200}

In [163]:
d['k3'] = 300

In [164]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [168]:
d['k1'] = 'NEW VALUE'

In [169]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [170]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [171]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [174]:
d.values()

dict_values([100, 200, 300])

In [175]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [176]:
t = (1,2,3)

In [177]:
mylist = [1,2,3]

In [178]:
type(t)

tuple

In [179]:
len(t)

3

In [180]:
t = ('one',2)

In [181]:
t[0]

'one'

In [182]:
t = ('a','a','b')

In [184]:
t.count('a')

2

In [186]:
t.index('a')

0

In [187]:
t

('a', 'a', 'b')

In [188]:
mylist[0] = 'NEW'

In [189]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [190]:
myset = set()

In [191]:
myset.add(1)

In [192]:
myset.add(2)

In [193]:
myset

{1, 2}

In [194]:
myset.add(2)

In [195]:
myset

{1, 2}

In [196]:
mylist = [1,1,1,1,1,1,2,2,3,3,3]

In [197]:
set(mylist)

{1, 2, 3}

TypeError: 'set' object is not callable

In [200]:
True

True

In [201]:
type(False)

bool

In [202]:
1 > 2

False

In [203]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-203-ecdac3dcabfd>, line 1)

In [204]:
1==1

True

In [205]:
b = None

In [206]:
b

In [1]:
for x in str:
    if x == 'not':
      return 'not '+x
    else:
      return x

SyntaxError: 'return' outside function (<ipython-input-1-3e616819d2fc>, line 3)

In [2]:
mystring = 'hello'

In [6]:
mystring[-1]

'o'

In [7]:
def front_back(str):
  first_letter = str[0]
  last_letter = str[-1]
  mid = str[1:-1]
  return last_letter + mid + first_letter

In [9]:
front_back('code')

'eodc'

In [11]:
len('code')

4

In [16]:
def string_times(str, n):
  repeat_word = str*n
    return repeat_word

SyntaxError: 'return' outside function (<ipython-input-16-5b0d3f0252b6>, line 3)

In [14]:
string_times('hi',2)

'hh'

In [17]:
def front_times(str, n):
  for words in str:
    if len(words)>2:
      return words[0:3]*n
    else:
      return words*n

In [19]:
front_times('chocolate',3)

'ccc'

In [20]:
mystring = 'hihihi'

In [23]:
mystring.count('hi')

3

In [24]:
def last2(str):
  last_letters = str[-1:-3]
  return str.count(last_letters)-1

In [25]:
last2('hihihi')

6

In [26]:
mystring = 'hihihi'

In [39]:
mystring[-2:]

'hi'

In [40]:
mylist = [3,4,5,6,7]

In [46]:
mylist.count(9)

0

In [43]:
mylist = [0,1,2,3,4]

In [44]:
mylist[2]

2

In [92]:
def array123(nums):
    for i in range(len(nums)-2):
        if nums[i] == 1 and nums[i+1]==2 and nums[i+2] == 3:
            return True
    return False

In [91]:
array123([5,4,4,1,2,3])

True
False

In [65]:
mylist = [5,4,3,1,2,3]

In [67]:
for i in range(len(mylist)):
    if mylist[i] == 1 and mylist[i+1]==2 and mylist[i+2] == 3:
      print('True')
    print(i)

0
1
2
True
3
4
5

In [68]:
for i in mylist:
    print(i)

5
4
3
1
2
3

In [100]:
def string_match(a, b):
    for letters in a, b:
        return

In [101]:
string_match('hello','jello')

hello
jello

In [111]:
a='abc'
b= 'abc'
shorter = min(len(a), len(b))
count = 0
  
for i in range(shorter-1):
    a_sub = a[i:i+2]
    b_sub = b[i:i+2]
    if a_sub == b_sub:
        print(i)

0
1

In [110]:
'abc'[2:4]

'c'

In [4]:
def make_out_word(out, word):
    return out[0:1] + word + out[2:3]

In [ ]:
make_out_word('<<>>', 'hello')

In [5]:
mystring = 'hello'

In [10]:
mystring[-2:]

'lo'

In [13]:
def extra_end(str):
    last_2 = str[-2:]
    return last_2

In [14]:
extra_end('hello')

'lo'

In [15]:
mystring

'hello'

In [16]:
mystring[1:-1]

'ell'

In [17]:
mystring[-2:]

'lo'

In [18]:
mylist = [1,2,3,4,5]

In [19]:
mylist[0]

1

In [20]:
return mylist[0] == 1

SyntaxError: 'return' outside function (<ipython-input-20-f3f95ada8a00>, line 1)

In [24]:
def has23(nums):
    if nums == 2:
        return True
    else:
        return False

In [25]:
has23([2,3,4])

False

In [26]:
a = 2
b = 2
c = 2

In [29]:
a == b == c

True

In [33]:
def lone_sum(a, b, c):
    if a == b == c:
        return 0
    if a == b:
        return c
    if a == c:
        return b
    if b == c:
        return a
    else:
        return a+b+c

In [34]:
lone_sum(3,3,3)

0

In [48]:
def lucky_sum(a, b, c):
    for nums, numbers in range(a, b, c):
        print(nums, nummbers)

In [49]:
lucky_sum(1,13,12)

TypeError: 'int' object is not iterable