In [1]:
mylist = [1,2,3]

In [3]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
range(0,11,2)

range(0, 11, 2)

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [9]:
index_count = 1

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 1 the letter is a
At index 2 the letter is b
At index 3 the letter is c
At index 4 the letter is d
At index 5 the letter is e

In [13]:
index_count = 0
word = 'abcde'
for letter in enumerate(word):
    
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [14]:
index_count = 0
word = 'abcde'
for index,letter in enumerate(word):
    
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [16]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [17]:
zip(mylist1,mylist2)

In [18]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [21]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [22]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [23]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [24]:
'x' in [1,2,3]

False

In [26]:
'x' in ['x','y','z']

True

In [27]:
'a' in 'a world'

True

In [28]:
'mykey' in {'mykey':345}

True

In [29]:
d = {'mykey':345}

345 in d.values()

True

In [30]:
d = {'mykey':345}

345 in d.keys()

False

In [31]:
mylist = [10,20,30,40,100]

In [32]:
min(mylist)

10

In [33]:
max(mylist)

100

In [34]:
from random import shuffle

In [35]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [40]:
shuffle(mylist)

In [41]:
mylist

[9, 10, 1, 2, 8, 6, 5, 7, 3, 4]

In [46]:
from random import randint

In [49]:
randint(0,100)

71

In [50]:
mynum = randint(0,10)

In [51]:
mynum

4

In [52]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [54]:
name = input('What is your name?')

What is your name?Jose

In [56]:
name

'Jose'

In [57]:
mystring = 'hello'

In [59]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [60]:
mylist

['h', 'e', 'l', 'l', 'o']

In [61]:
mylist = [letter for letter in mystring]

In [62]:
mylist

['h', 'e', 'l', 'l', 'o']

In [63]:
mylist = [x for x in 'word']

In [64]:
mylist = [qweqwe for qweqwe in 'word']

In [65]:
mylist

['w', 'o', 'r', 'd']

In [66]:
mylist = [num for num in range(0,11)]

In [67]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
mylist = [num**2 for num in range(0,11)]

In [69]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
mylist = [x for x in range(0,11) if x%2==0]

In [71]:
mylist

[0, 2, 4, 6, 8, 10]

In [72]:
celcius = [0,10,20,34,5]

farenheit = [( 9/5*temp+32) for temp in celcius]

In [73]:
farenheit

[32.0, 50.0, 68.0, 93.2, 41.0]

In [74]:
farenheit = []

for temp in celcius:
    farenheit.append(( (9/5)*temp+32))

In [75]:
farenheit

[32.0, 50.0, 68.0, 93.2, 41.0]

In [76]:
results = [x if x%2==0 else 'ODD' for x in range (0,11)]

In [77]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [78]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [79]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [80]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [81]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]